<!DOCTYPE html>
    <html lang="en">
    
    <%-include('partials/head') %>
    
      <body>
        <%-include('partials/nav') %>
        <form id="bioForm" method="post" action="/edit?_method=PATCH">
            <label for="editBio">Edit About Me</label>
            <input type="text" name="editBio" id="editBio" value="test">
            <button>Submit</button>
        </form>
        <script src="/js/edit.js"></script>
      </body>