<!DOCTYPE html>
    <html lang="en">
    
    <%-include('partials/head') %>
    
      <body class="body">
        <%-include('partials/nav') %>
        <div class="container mb-5">
            <div clas="row">
                <div class="col mt-3">
                    <div class="card-body text-center border">
                        <img src="/image/golblum.png" width="180" height="160" class="rounded-circle border "/>
                        <h4><%= hiker%></h4>
                        <p>
                            <%= bio%>
                        </p>
                    </div>
                    <div class="row mx-n1 justify-content-center">
                        <a class="col-md-3 mb-3 px-1" href="not there yet">
                            Friend1
                        </a>
                        <a class="col-md-3 mb-3 px-1" href="not there yet">
                            Friend2
                        </a>
                        <a class="col-md-3 mb-3 px-1" href="not there yet">
                            Friend3
                        </a>
                        <a class="col-md-3 mb-3 px-1" href="not there yet">
                            Friend4
                        </a>
                        <a class="col-md-3 mb-3 px-1" href="not there yet">
                            Friend5
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron text-center mb-5" style="background-color: azure;">
                        <h3 class="display-4">Planned Hikes</h3>
                        <p class="lead"> Nothing to see here</p>

                        <hr class="my-4"/>     
                        <a class="btn btn-primary mb-2" href="/trails" role="button">Add a Hike</a>            
                    </div>
                    <div class="jumbotron text-center mb-5" style="background-color: azure;">
                        <h3 class="display-4">Completed Hikes</h3>
                        <p class="lead">Nothing to see here</p>
                    </div>
            </div>
            </div>
    </div>
            <script src="/js/hikerpage.js"></script>
      </body>
    
    </html>
        <script src="/js/hikerpage.js"></script>
  </body>

</html>