<!DOCTYPE html>
    <html lang="en">
    
    <%-include('partials/head') %>
    
      <body>
        <%-include('partials/nav') %>
        <div class="container mb-5">
            <div clas="row">
                <div class="col mt-3 d-flex flex-column align-items-center">
                    <div class="card-body text-center border">
                        <img src="/image/golblum.png" width="180" height="160" class="rounded-circle border "/>
                        <h4><%= hiker%></h4>
                        <p>
                            <%= bio%>
                        </p>

                    </div justify-content-center>
                    <div class="row mx-n1 d-flex justify-content-center mt-3 w-80">
                        <div class="d-flex justify-content-center">
                            <h3>Hiking Buddies</h3>
                        </div>
                        <div class="col-md-3 mb-3 px-1 d-flex flex-column align-items-center ">
                            <p>Friend</p>
                            <a  href="not there yet">
                                <img src="/image/golblum.png" width="90" height="80" class="rounded-circle border "/>
                            </a>
                        </div>
                        <div class="col-md-3 mb-3 px-1 d-flex flex-column align-items-center">
                            <p>Friend</p>
                            <a  href="not there yet">
                                <img src="/image/golblum.png" width="90" height="80" class="rounded-circle border "/>
                            </a>
                        </div>
                        <div class="col-md-3 mb-3 px-1 d-flex flex-column align-items-center">
                            <p>Friend</p>
                            <a  href="not there yet">
                                <img src="/image/golblum.png" width="90" height="80" class="rounded-circle border "/>
                            </a>
                        </div>
                        <div class="col-md-3 mb-3 px-1 d-flex flex-column align-items-center">
                            <p>Friend</p>
                            <a  href="not there yet">
                                <img src="/image/golblum.png" width="90" height="80" class="rounded-circle border "/>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron text-center mb-5" style="background-color: azure;">
                        <h3 class="display-4">Planned Hikes</h3>
                        <p class="lead"> Nothing to see here</p>

                        <hr class="my-4"/>            
                    </div>
                    <div class="jumbotron text-center mb-5" style="background-color: azure;">
                        <h3 class="display-4">Completed Hikes</h3>
                        <p class="lead">Nothing to see here</p>
                    </div>
            </div>
            </div>
    </div>
            <script src="/js/hikerpage.js"></script>
      </body>
    
    </html>
        <script src="/js/hikerpage.js"></script>
  </body>

</html>