body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.verticle-line {
  background-color: rgb(0, 0, 0);
  height: 30rem;
  
  /* position:absolute;
  left: 50%;
  top:110px;
  margin-left: -30px; */
}

/* .login-form {
  margin-left: 50px;
} */