.body {
  padding: 0px 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: auto;
	/* max-height: 600px; */
	width: 1000px;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 60%, 
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
  
}
.titleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trailIcon {
  height: 5;
  display: flex;
}

title {
  display: flex;
  justify-content: center;
  font-size: 3.5rem ;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 255, 42);
  }

.title {
  justify-content: center;
}
/* .body {
  background-color: #b56357;
  color: #eae3ea;
} */

.navbar {
  background-color: #eae3ea;
  
}
.navLink {
  color: #b56357;
  display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navbarBrand {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  color: #b56357;
}
.navLink:hover {
  color: #466b41;
}
.navbarBrand:hover {
  color: #466b41;
}
.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #b4dbc0;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  color: #6b9764;
}
.cardLink {
  color: #466b41;
  text-decoration: underline;
}
.cardLink:hover {
  color: #6e996a;
}

.cardDiv {
  display: flex;
  justify-content: start;
}



.verticle-line {
  background-color: rgb(0, 0, 0);
  height: 30rem;
  
  /* position:absolute;
  left: 50%;
  top:110px;
  margin-left: -30px; */
}

/* .login-form {
  margin-left: 50px;
} */


form {
  background-color: #b4dbc0;
  color: #466b41;
  
}
.logout {
  color: #eae3ea;
  text-decoration: none;
  }

.logout:hover {
  color: #eae3ea;
}

.body-font {
  font-family:cursive;
}